
$emptyButtonBackground: rgba(38, 46, 52, 0.12);

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  >.ellipse, .logo {
    width: clamp(80vw, 30vw, 70rem);

    @media (min-width: 860px) {
      max-width: 850px;
    }

    >.profilPicture {
      width: clamp(100vw, 30vw, 70rem);
      z-index: 1;

      @media (min-width: 860px) {
        max-width: 850px;
      }
    }
  }
}

.logo {
  padding-top: 24px;
  margin-bottom: -16px;
}

.ellipse {
  overflow-x: hidden;
  transition: all 0.7s ease;
  position: absolute;
  z-index: 0;
  // rotate: 52grad;
}

.scale:hover{
  scale: 1.15;
}

.profilPicture {
  max-height: 90vw;
  z-index: 1;
}

.logoBurger {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin-bottom: 20px;
  z-index: 1;

  >div {
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 1;
  }
}

.burger{
  align-items: center !important;

  >svg, .theme-toggle{
    cursor: pointer;
  }
}

.menu {
  top: 30vw;
  transition: all 0.5s ease;
  &:hover{
    scale: 1.05 !important;
  }
}

.grid {
  display: grid;
  justify-items: center;

  >img {
    transition: all 0.5s ease;
    rotate: 180deg;

    &:hover {
      scale: 1.25;
    }
  }
}

.nav-menu {
  z-index: 1;
  padding: 48px 0;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12vw;
    gap: calc(12vw - 2rem);

    li {
      margin: 15px 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.3s;

        &:hover {
          color: #f8b400;
        }
      }
    }
  }

  .language-switch {

    button {
      background: url('/src/assets/svg/ellipse24.svg') no-repeat center;
      border: 1px solid white;
      padding: 5px 15px;
      margin: 0 10px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #f8b400;
        color: black;
      }
    }
  }
}



.nav-menu-active {
  opacity: 1;
  visibility: visible;
}

#ray {
  transform-origin: center;
}

.arrowDown {
  rotate: 180deg;
  transition: all 0.5s ease;
  cursor: pointer;
   &:hover {
    scale: 1.05;
    background: $emptyButtonBackground;
   }
}

// BurgerMenu

.hamRotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--text-color);
  stroke-width: 1.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

@media (min-width: 1000px) {
  .profilPicture{
    height: 960px;
  }
}