.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    >.ellipse, .profilPicture, .logo{
      width: clamp(100%, 30vw, 70rem);
      scale: 1;
      @media (min-width: 860px){
        max-width: 850px;
      }
    }
  }
  
  .logo{
    padding-top: 24px;
    margin-bottom: -16px;
  }

  .ellipse{
    position: absolute;
    z-index: 0;
  }

  .profilPicture{
    height: 75%;
  }
  
  .logoBurger {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: -16svh;

    >div{
      display: flex;
      flex-direction: column;
      align-items: start;
      z-index: 1;
    }
}

  .menu {
    margin-top: -16svh;
    scale: 1.2 !important;
  }
  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--text-color);
    stroke-width:1.5;
    stroke-linecap:round;
  }
  
  .ham8 .top {
    stroke-dasharray: 40 160;
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  .ham8.active .middle {
    //stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }
  
  .mdc-form-field{
    flex-direction: column;
  }

  ::ng-deep mat-slide-toggle {
      >div{
        flex-direction: column;
      }
  }
  
  .grid {
    display: grid;
    justify-items: center;
    >img{
      transition: all 0.5s ease;
      rotate: 180deg;

      &:hover{
        scale: 1.25;
      }
    }
  }


  .nav-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: black;
    // padding: 20px;
    // border-radius: 10px;
    // text-align: center;
    // opacity: 0;
    // visibility: hidden;
    // transition: opacity 0.3s ease, visibility 0.3s ease;
    // z-index: 2;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin: 15px 0;
  
        a {
          color: white;
          text-decoration: none;
          font-size: 1.5rem;
          transition: color 0.3s;
  
          &:hover {
            color: #f8b400;
          }
        }
      }
    }
  
    .language-switch {
      margin-top: 20px;
  
      button {
        background: url('/src/assets/svg/ellipse24.svg') no-repeat center;
        border: 1px solid white;
        // color: white;
        padding: 5px 15px;
        margin: 0 10px;
        cursor: pointer;
        transition: background 0.3s;
  
        &:hover {
          background: #f8b400;
          color: black;
        }
      }
    }
  }
  
  .nav-menu-active {
    opacity: 1;
    visibility: visible;
  }